*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: grid;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: center;
  align-items: start;
}

.result {
  min-width: 711px;
  padding-top: 73px;
  display: flex;
  flex-direction: column;
}

.result__video-container {
  position: relative;
}

.result__video {
  width: 100%;
}

.search-form {
  display: flex;
  gap: 40px;
}

.search-form__fieldset-title {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.title {
  color: #FFF;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 30px;;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-height: 300px;
  width: 399px;
  overflow: auto;
}

.content__list-item {
  display: flex;
  width: 100%;
  padding-bottom: 35px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item:last-child {
  padding-bottom: 0px;
}

.content__card-link{
  width: 100%;
  text-decoration: none;
  color: #FFF;
  font-family: Fira Sans Condensed, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
  margin: 2px;
  }

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__video-card {
  display: flex;
  justify-content: space-around;
  max-width: 399px;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  }

.content__video-card-description-container{
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__video-card-thumbnail {
  max-width: 174px;
  object-position: center center;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  margin-right: 15px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.search-form__label:focus{
  outline: none;
}

.search-form__label:last-child {
  margin-right: 0;
}

.search-form__label:hover > .search-form__label-text {
    text-decoration: underline;
  }

.search-form__textfield {
  min-width: 225px;
  background-color: transparent;
  border: 1px solid transparent;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  color: rgb(255, 255, 255);
  font-family: Fira Sans Condensed, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: 1px solid #FFF;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.search-form__fieldset {
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
}

.search-form__pseudo-checkbox {
  border: 1px solid #FFF;
  width: 19px;
  height: 19px;
  gap: 5px;
  margin-right: 5px;
}

.search-form__submit-button {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 34px;
  margin-top: 20px;
}

.button {
  border: 1px solid currentColor;
  width: 100%;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-family: Fira Sans Condensed, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.button:active {
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}

.more-button {
  width: 100%;
  margin-bottom: 3px;
  height: 34px;
}

.more-button-template {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
}

li {
  width: 100%;
}

input[type='checkbox']:checked + span {
  background-color: currentColor;
  background-position: center;
  background-size: contain;
  outline: 1px solid #000;
  outline-offset: -2px;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}